.canvas-container {
  margin: 0 auto;
  width: 450px;
  height: 600px;

  padding-top: 50px;
}

#c {
  border: 1px solid black;
}

.content-block{
  width: 80%;
  margin: 0 auto;
}

/* ---- Options ---- */
.color {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 8px;
  border: 2px solid white;
  transition: ease 0.2s all;
}

.color:hover{
  border: 2px solid green;
}

.color.selected {
  border: 2px solid green;
}

/* -- Styles -- */
.style {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.style-container .selected {
  background-color: green;
}

/* -- Style Colors -- */
