.canvas-container {
  margin: 0 auto;
  width: 50%;
  height: 500px;

  padding-top: 50px;
}

#c {
  border: 1px solid black;
}




/* ---- Options ---- */


/* -- Styles -- */
.style {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.style-container .selected {
  background-color: green;
}
